<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pbreakers.pbchat">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- READ/WRITE_EXTERNAL_STORAGE permissions are required to upload or download files from/into external storage. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.PBChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="PB | Conversation"
            android:name=".activity.messagerie.DiscussionActivity" />
        <activity
            android:parentActivityName=".activity.messagerie.DiscussionActivity"
            android:name=".activity.messagerie.DetailDiscussionActivity" /> <!--  -->
        <activity
            android:parentActivityName=".activity.messagerie.DiscussionActivity"
            android:label="PB | Contact"
            android:name=".activity.messagerie.ContactActivity" /> <!--  -->
        <activity
            android:label="Connexion"
            android:name=".activity.login.LoginActivity" />
        <!--  -->
        <activity
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme"
            android:name=".activity.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>